@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes appear-menu {
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100vw;
    }
}

@keyframes desappear-menu {
    0%{
        opacity: 1;
        width: 100vw;
    }
    100%{
        opacity: 0;
        width: 0;
    }
}


