@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes appear-menu {
    0%{
        opacity: 0;
        width: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        width: 100vw;
    }
}

@keyframes desappear-menu {
    0%{
        opacity: 1;
        width: 100vw;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        width: 0;
    }
}

@keyframes desappear-modal {
    0%{
        opacity: 1;
        height: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        height: 0;

    }
}
html {
    scroll-behavior: smooth;
}
#closing-modal-button{
    transition-duration: 1s;
}
#closing-modal-button:hover{
    transform: rotate(360deg);
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

